@import url('https://fonts.googleapis.com/css?family=Pacifico');

.Ingredients {
  height: auto;
  margin-bottom: 40px;
  padding: 0px 20px;
  color: #181D52;
}

.Ingredients h3{
  font-family: Pacifico;
}

.quantity{
  color:#ED5A47;
}
