.familyMember{
  display: inline-block;
  position: relative;
  text-align: left;
  width:90%;
  padding: 10px;
  margin: 5px 0px;
  background: white;
  color: #181D52;
  border-radius: 30px;
}

.removeFamilyMember{
  position: absolute;
  top: 8px;
  right: 10px;
  height: 15px;
}
