.familyMember {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 90%;
  padding: 10px;
  margin: 5px 0px;
  background: white;
  color: #181d52;
  border-radius: 30px;
  border: 0;
}

.removeFamilyMember {
  position: absolute;
  top: 8px;
  right: 10px;
  height: 15px;
}

.addMember {
  display: inline-block;
  padding: 5px 20px;
  background: #181d52;
  border-radius: 30px;
  border: 0;
  margin-top: 10px;
  font-size: 0.8em;
  vertical-align: middle;
  color: white;
}

.addMemberHidden{
  display: none;
}

.addMemberImg {
  height: 15px;
  vertical-align: -10%;
}
