.inputContainer{
  padding: 0px;
  text-align: center;
  color: #181D52;
  font-family: arial;
}

.inputTitle{
  display: inline-block;
  padding: 10px 20px;
  width: 90%;
  border-radius: 10px;
  border: 0;
  font-family: Pacifico;
  position: relative;
  border-radius: 10px;
}

.inputInstruction{
  display: inline-block;
  padding: 10px 20px;
  width: calc(90% - 21px);
  border-radius: 10px;
  border: 0;
  font-family: Pacifico;
  position: relative;
  border-radius: 10px;
}

.inputName{
  display: inline-block;
  padding: 10px 20px;
  width: 63%;
  margin: 2px 2% 2px 0px;
  border-radius: 10px;
  border: 0;
  font-family: Pacifico;
  position: relative;
  border-radius: 10px;
}

.inputQuantity{
  display: inline-block;
  padding: 10px;
  width: 23%;
  margin: 2px 0px 2px 2%;
  border-radius: 10px;
  border: 0;
}

.addIngredient{
  display: inline-block;
  padding: 5px 20px;
  background: #181D52;
  border-radius: 30px;
  border: 0;
  margin-top: 10px;
  font-size: .8em;
  vertical-align: middle;
  color: white;
}

.uploadButton{
  display: inline-block;
  padding: 7px 20px;
  background: #181D52;
  border-radius: 30px;
  border: 0;
  margin-top: 10px;
  font-size: .8em;
  vertical-align: middle;
  color: white;
  height: 32px;
  float: right;
  width: 40%;
  margin-right: 8%;
}

.addIngredientImg{
  height: 15px;
  vertical-align: -10%;
}

.smallHeader{
  font-family: Pacifico;
}

.sectionHeader {
  font-family: Pacifico;
  font-size: 18pt;
  text-align: left;
  font-family: Pacifico;
  line-height: 1;
  color: #181D52;
  margin: 10px auto;
  margin-left: 20px;
}

.section {
  padding:10px;
  margin-top:15px;
  text-align: center;
}

.title {
  font-family: Pacifico;
  font-size: 30pt;
  text-align: center;
  font-family: Pacifico;
  line-height: 1;
  color: #181D52;
  margin: 10px auto;
  margin-left: 20px;
  padding-bottom: 10px;
}

.description {
  font-family: Pacifico;
  font-size: 15pt;
  text-align: center;
  font-family: Pacifico;
  line-height: 1;
  color: #181D52;
  margin: 10px auto;
  margin-left: 20px;
  padding-bottom: 10px;
}
