.Header {
  height: 15vh;
  text-align: left;
  margin-top: 30px;
  font-size: 32px;
  color: #181D52;
  font-weight: bolder;
  font-family: Pacifico;
  /* font-family: 'Indie Flower', cursive; */
  font-weight: 900;
  margin-left: 10px;
}

.image {
  margin-right: 1em !important;
}
