@import url("https://fonts.googleapis.com/css?family=Rancho");
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
.App {
  /* text-align: center; */
  background-color: #FDCEDD;
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 900;
  flex:1;
  /* align-items: center */
}

.appLogo {
  font-size: 50px;
  font-family: Pacifico;
  color:white;
  text-align: center;
  margin-top: 10px;
}


.logoImg{
  height: 50px;
  box-shadow: 1px 1px 20px -4px #333;
  border-radius: 50%;
}

.backImg{
  height: 30px;
  position: absolute;
  top: 20px;
  left: 10px;
}

.menuImg{
  height: 30px;
  position: absolute;
  top: 20px;
  right: 10px;
}

.maxWidth{
  max-width: 500px;
  margin: auto;
  width: 100vw;
}

.menuWrapper{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  opacity: .4;
  z-index: 990;
}

.file {
  text-align: center;
  position: relative;
  display: inline-block;
  background: rgb(255, 208, 208);
  border: 1px solid rgb(245, 153, 161);
  border-radius: 4px;
  padding: 4px 12px;
  overflow: hidden;
  color: rgb(211, 96, 130);
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  margin-bottom: 30px;
}
.file p {
  margin: auto 0;
  margin-top: 7px;
}
.file input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}
.file:hover {
  background: #AADFFD;
  border-color: #78C3F3;
  color: #004974;
  text-decoration: none;
}
